body {
  border: 3px solid red;
  padding: 1% 2%;
  font: 100% "Adobe Gothic Std B";
  margin: 3% 1% 3% 1%;
  color: white;
  background: grey;
  font: 100% "Calibri";
}

.container {
  text-align: center;
}

.di {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px solid lightblue;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid lightblue;
  /* Firefox */
  column-rule: 1px solid lightblue;
  text-align: left;
  font: 100% "Calibri";
}
