$border: 3px solid red;
$font: 100% "";
$pad: 1% 2%;
$mar: 3% 1% 3% 1%; 
$font: 100% "Adobe Gothic Std B";
$f1: 100% "Calibri";
$c: white;
$bg: grey;
$al: left;
$n: 3;
$ta: center;
$r: 1px solid lightblue;

@mixin border
{
  border:$border;
  padding:$pad;
  font:$font;
  margin:$mar;
  color:$c;
  background: $bg;
  font: $f1;
}
@mixin column
{
      -webkit-column-count: $n; /* Chrome, Safari, Opera */
    -moz-column-count: $n; /* Firefox */
    column-count: $n;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
  text-align:$al;
  font:$f1;
}
@mixin footer{
  $ff: 100% Arial;
}
@mixin container{
  text-align: $ta;
}


body{
  @include border;
}
.container{
  @include container;
}
.di{
  @include column;
}
.f{
  @include footer;
}
