<h1 class="h1">
  CURRICULUM VITAE
</h1>
<hr>
<h2>
  Christian Jhon A.Singian - Web Developer
</h2>
<br>
<h3>
  My Profile
</h3>
<div class="container">
  <div class="di">
     Im Christian Jhon A Singian, 18, years old, I lived in Sta Rita, Minalin, Pampanga
     3rd year college student in Holy Angel University here in Angeles City, Pampanga.
     I love music, I like to sing, I like to dance. I love roadtrips with my friends.
     I love clothes and shoes. I love color black and grey.
     My mother is Edrina Singian and my father is Donald Singian and my sister is Christzette Mary Jeahn Singian.
     My mom is a teacher in Bataan and my father is a manager in Manila.
  </div>
  <div class="f">
    <hr>
    All rights reserved
  </div>
</div>