<h1>CURRICULUM VITAE</h1><hr>
<h2>Regina Lopez | Web Developer</h2><br>

<br>
<div class="container">
      <h3>My Profile</h3>
        <p>I'm a 18 year old, 3nd year college student. I do web designing and developing.
          <br>Currently studying at Holy Angel University and taking up IT Major in Web Development.
          <br>Competitive, fast-learner, and has the ability to work with anyone. 
        </p>
  
      <h3>Educational Background:</h3>
        <p> Primary School:
            St. Augustine Academy of Pampanga
            Year 2002-2010 <br>
            
            Secondary School:
            St. Augustine Academy of Pampanga
            Year 2010-2014<br>
            
            College School:
            Holy Angel University
            Year 2014-2018<br>
        </p>
</div>
<div class="container"><br><br>
<footer>
  <h4>Contact Info: <br>09756474706</h4><br><br>
  <h4>Address: <br>16-B Rue De Paree,<br>
          Trinidad Village EXT. 1, Baltangan<br>
          San Fernando City, Pampanga</h4>
</footer>
</div>