body {
  font: 100% "Moire Light";
  border: 4px ridge #A62C2C;
  margin: 5em;
  padding: 3% 3%;
  background-color: #3D3D3D;
  color: white;
}

h1 {
  font: 400% "Motorwerk";
}

h1, h2, footer {
  text-align: center;
}

.container {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px ridge #A62C2C;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px ridge #A62C2C;
  /* Firefox */
  column-rule: 1px ridge #A62C2C;
}

hr {
  width: 50%;
}
