$border: 4px ridge #A62C2C;
$padding: 3% 3%;
$font: 100% "Moire Light";
$hrlength: 50%;
$bgcolor: #3D3D3D;
$bodymargin: 5em;
$fontcolor: white;
$h1fs: 400% "Motorwerk";

@mixin column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px ridge #A62C2C; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px ridge #A62C2C; /* Firefox */
    column-rule: 1px ridge #A62C2C;
}

body {
  font: $font;
  border: $border;
  margin: $bodymargin;
  padding: $padding;
  background-color: $bgcolor;
  color: $fontcolor;
}
h1 {
  font: $h1fs;
}
h1, h2, footer {
  text-align:center;
}
.container {
  @include column;
}
hr {
  width:$hrlength;
}