﻿<div id="container">
<header>
<h1> CURRICULUM VITAE </h1>
<hr>
<h2>Mikhaela Joy Maun</h2>
<h3>Web Developer | Graphic Artist</h3>
<hr>
</header>
<br>
 
<main>
<br>
<section>
    <h3>Skills</h3>
    <hr>
      <ul>
<p><li>I'm a College Student Web Developer with 2 years of well rounded experience. My skills include HTML, CSS, & javascript.</li>
<br><li>2 years of experience in Programming. My skills include C++, Visual Basic, & Java .</li>
<br><li>With 4 years of experience in Graphics Designing / Editing. My skills include Adobe Photoshop, Adobe Lightroom & Adobe After Effects.</li>
<br><li>4 years of experince in the world of  Videography.  Uses Powerdirector & Adobe After Effects.</li>
</p>
</ul>

<h3>Educational Background</h3>
<hr>
<p>
  <ul>
<li>PRIMARY SCHOOL ATTENDED: </li>
Sto. Niño Academy
<br><br>
<li>SECONDARY SCHOOL ATTENDED:</li>
Sto. Niño Academy 
<br><br>
<li>COLLEGE SCHOOL ATTENDED:</li>
Holy Angel University
<br><br>
</ul>
</p> <br><br><br>
</section>
</main>
</div>
<br>
<footer>
  <p>Maun, Mikhaela Joy G.</p>
  <p>For educational purposes only.</p>
</footer>



