body {
  font-family: Century Gothic;
  margin: 2% 15%;
  background: #201c1c;
  color: #ffffff;
}

#container, footer {
  border: 2px solid #ff5733;
  padding: 3% 3%;
}

main {
  -webrule-style: solid;
  /* Chrome, Safari, Opera */
  -moz-column-rulekit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  -webkit-column--style: solid;
  /* Firefox */
  column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  /* Chrome, Safari, Opera */
  -moz-column-rule-width: 1px;
  /* Firefox */
  column-rule-width: 1px;
  -webkit-column-rule-color: lightblue;
  /* Chrome, Safari, Opera */
  -moz-column-rule-color: lightblue;
  /* Firefox */
  column-rule-color: lightblue;
}

section {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

header, footer {
  text-align: center;
}
header h1, footer h1 {
  text-align: left;
}
