$border: 2px solid #ff5733;
$margin: 2% 15%;
$padding: 3% 3%;
$font:Century Gothic;
$lblue: lightblue;
$forty: 40px;
$one: 1px;

@mixin column {
  -webrule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rulekit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: $forty; /* Chrome, Safari, Opera */
    -moz-column-gap: $forty; /* Firefox */
    column-gap: $forty;
    -webkit-column--style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: $one; /* Chrome, Safari, Opera */
    -moz-column-rule-width: $one; /* Firefox */
    column-rule-width: $one;
    -webkit-column-rule-color: $lblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: $lblue; /* Firefox */
    column-rule-color: $lblue;
}

body{
font-family:$font;
  margin:$margin;
  background:#201c1c;
  color:#ffffff;
}

#container, footer{
border:$border;
padding:$padding;
}
main{
  @include column; 
}
section{
  -webkit-column-count: 2;
  -moz-column-count: 2; 
  column-count: 2; 
}

header, footer{
  h1{
    text-align:left;
  }
  text-align:center;
}